* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: black;
    color: green;
    width: 100%;
    height: 100vh;
}

.command p {
    display: flex;
    align-items: center;
    padding: 3px;
}

.content textarea {
    border: 0;
    background-color: black;
    color: green;
}

.command p::after {
    content: "";
    margin-left: 2px;
    width: 2px;
    height: 20px;
    background: #cccccc;
    display: inline-block;
  }

  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

  .command p::after {
    animation: cursor-blink 1s steps(2) infinite;
}